<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>me.paolino.mqtt-alive-daemon</string>
    <key>ProgramArguments</key>
    <array>
        <string>/path/to/your/mqtt-alive-daemon</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/log/mqtt-alive-daemon.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/mqtt-alive-daemon.error.log</string>
    <key>UserName</key>
    <string>root</string>
</dict>
</plist>
